{% extends 'base.html.twig' %}

{% block title %}Le réchauffement climatique{% endblock %}

{% block body %}
    <div style="text-align: center;">
    <h1> Mieux comprendre le réchauffement climatique</h1>
        <p>Le réchauffement climatique est un phénomène global de transformation du climat caractérisé par une augmentation générale des températures moyennes (liée aux activités humaines), et qui modifie durablement les équilibres météorologiques et les écosystèmes.</p><br>
        <h2> Les causes</h2>
        <p>Les modèles du GIEC ont permis d’établir les causes du réchauffement climatique, c’est-à-dire de savoir d’où provient ce réchauffement climatique, ce qui le provoque. Grâce aux scientifiques, on sait que ce sont principalement les émissions de gaz à effet de serre d’origine humaine qui influencent le climat. Mais d’où viennent ces émissions ?
            Principalement, c’est la production d’énergie (électricité, chauffage) et notamment des énergies fossiles et des carburants pour les transports (principalement les voitures, mais aussi en partie l’aviation ou le transport maritime) qui causent le réchauffement climatique. Ensuite arrivent la gestion des territoires et notamment la déforestation, l’agriculture mais aussi l’élevage. Pour en savoir plus, voir : Les causes du réchauffement climatique.</p>
        <h2> Les conséquences</h2>
        <p>Conséquences sur l’écosystème et la planète
            D’abord, une augmentation des températures à cause du réchauffement climatique affecte l’ensemble de l’écosystème mondial et pas seulement la chaleur ressentie. La météo s’en trouve perturbée, avec une augmentation des phénomènes météorologiques extrêmes, des changements des modèles météorologiques habituels. Cela veut dire plus de tempêtes, plus d’inondations, plus de cyclones et de sécheresses.</p>


{% endblock %}