{% extends 'base.html.twig' %}

{% block title %}Don{% endblock %}

{% block body %}
    <div style="text-align: center;">
        <h1>Don</h1>
        <h2>Pourquoi donner ? Vos dons en action</h2>
        <p>
            En faisant un don, vous soutenez le travail de réseau action climat France, de plaidoyer, de décryptage indépendant et de développement d'outils pédagogiques sur les dérèglements climatiques.
        </p>


        <img src="https://reseauactionclimat.org/wp-content/uploads/2017/04/capture-decran-2021-08-10-a-10.31.13-700x479.png" alt="Description de l'image" style="width: 300px; /* ou une autre valeur de largeur */">

        <a href="https://reseauactionclimat.org/faire-un-don/">Faire un don</a>
    </div>

{% endblock %}
